
.FileUploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FileUploadInput {
  margin-bottom: 10px;
}

input[type=file] {
  margin-top: 3%;
  margin-bottom: 1%;
  height: 4vh;
  width: 20%;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #01b588;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #01e0a9;
}

.FileUploadStatus {
  margin-top: 10px;
  margin-bottom: 5%;
  font-weight: bold;
  color: #980a00;
  font-size: large;
}

.FileUploadButton {
  align-items: center;
  appearance: none;
  border-radius: 4px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 1px -2px, rgba(0, 0, 0, .14) 0 2px 2px 0, rgba(0, 0, 0, .12) 0 1px 5px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: Roboto, sans-serif;
  font-size: .875rem;
  font-weight: 500;
  height: 36px;
  justify-content: center;
  letter-spacing: .0892857em;
  line-height: normal;
  min-width: 64px;
  outline: none;
  overflow: visible;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  will-change: transform, opacity;
}

.FileUploadButton:hover {
  box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
}

.FileUploadButton:disabled {
  background-color: rgba(0, 0, 0, .12);
  box-shadow: rgba(0, 0, 0, .2) 0 0 0 0, rgba(0, 0, 0, .14) 0 0 0 0, rgba(0, 0, 0, .12) 0 0 0 0;
  color: rgba(0, 0, 0, .37);
  cursor: default;
  pointer-events: none;
}

.FileUploadButton:not(:disabled) {
  background-color: #02a88c;
}

.FileUploadButton:focus {
  box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
}

.FileUploadButton:active {
  box-shadow: rgba(0, 0, 0, .2) 0 5px 5px -3px, rgba(0, 0, 0, .14) 0 8px 10px 1px, rgba(0, 0, 0, .12) 0 3px 14px 2px;
  background: #006c5a;
}

/* Mediaqueries */

@media screen and (max-width: 768px) {
  input[type=file] {
    /* width: 10%; */
    height: 3vh;
  }
  
  .FileUploadButton {
    padding: 0 3px;
    margin-top: 3px;
  }

  input[type=file]::file-selector-button{
    padding: 2px 6px;
    margin-bottom: 5%;

  }
}

@media screen and (max-width: 480px) {
  /* Adjust input[type=file] width for even smaller screens */
  input[type=file] {
    /* width: 80%; */
    margin-bottom: 1%;
  }

  input[type=file]::file-selector-button{
    padding: 2px 4px;
    margin-bottom: 5%;
  }
  
  .FileUploadButton {
    padding: 0 0px;
  }
}
