 
  h1 {
    color: rgba(255, 255, 255, 0.909);
    text-align: center;
    font-size: 50px;
  }
  
  .outer-div {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  
  .container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row;  */
  }
  
  #button1 {
    margin-bottom: 20px;
  }
  
  .container button {
    margin: 0 30px;
    background-color: #73f9a4;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

  }

  .container button:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
  

  /* Responsive Adjustments */
/* @media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .sidebar h3 {
    font-size: 18px;
  }

  .sidebar button {
    margin: 0;
    margin-top: 10px;
    padding: 8px 30px;
  }

  .item-container {
    margin-bottom: 6%;
  }
}

@media (max-width: 480px) {
  .sidebar {
    padding: 5px;
  }

  .sidebar h3 {
    font-size: 16px;
  }

  .sidebar button {
    padding: 6px 20px;
  }
} */