.fp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .fp-card {
    background-color: rgba(173, 216, 230, 0.164);
    border-radius: 15px;
    padding: 2%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 400px;
  }
  
  .fp-container h1 {
    margin-bottom: 40px;
  }
  
  .fp-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .fp-container input {
    width: 300px;
    height: 40px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
  }
  
  .fp-container p {
    color: #102317;
    font-weight: 700;
    font-size: 15px;
  }
  
  .fp-container button {
    margin: 0 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #73f9a4;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 4% 18%;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .fp-container button:hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .fp-card {
      width: 50%;
    }
  
    .fp-container input {
      width: 80%;
    }
  }
  
  @media (max-width: 480px) {
    .fp-card {
      width: 50%;
    }
  }
  
  @media (max-height: 600px) {
    .fp-container {
      height: 60%;
    }
  }

  @media (max-height: 500px) {
    .fp-container {
      height: 70%;
      width: 90%;
    }
  }